app-utilisateurs {
  ngx-datatable {
    height: calc(100vh - 250px) !important;
  }
  .content {
    ngx-datatable {
      box-shadow: none;
    }
  }
  .mat-display-1 {
    margin-bottom: .65em !important;
  }
}

