@import "src/theme";

.sidenav-container {
  background: #eee;
  height: 100%;
}

.sidenav-menu-container {
  color: white;
  padding: 0 2em;
  height: 100%;
  width: 250px;
}

mat-sidenav {
  background-color: $dark-color;
}


mat-sidenav-content {
  //width: calc(100% - 280px);
}
